/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* RESETS */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: light;
  /* color-scheme: dark light; */
}

body {
  min-height: 100vh;
}

/* for dynamic viewport units support */
@supports (min-height: 100dvh) {
  body {
    min-height: 100dvh;
  }
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* STYLING / LAYOUT */

@media (max-width: 1250px) {
  :root {
    font-size: 80%;
  }
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.top {
  position: relative;
}

.top > img {
  height: 6rem;
  position: absolute;
  left: 5rem;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

@media (max-width: 1250px) {
  .top > img {
    display: none;
  }
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  padding: 1.5rem 1rem;
}

nav {
  display: grid;
  grid-template-columns: repeat(5, auto);
}

@media (max-width: 1250px) {
  nav {
    grid-template-columns: repeat(6, auto);
  }

  nav > a:is(:nth-child(-n + 3)) {
    grid-column: span 2;
  }

  nav > a:is(:nth-child(n + 4)) {
    grid-column: span 3;
  }
}

nav > a {
  padding: 1.25rem 1rem;
  display: grid;
  place-items: center;
  text-align: center;
}

main {
  padding: 2rem;
}

h2 {
  font-size: 2.75rem;
}

.aktualny-motyw {
  margin-bottom: 3rem;
  width: fit-content;
  margin-inline: auto;
  padding: 1rem 2rem;
  border-radius: 1rem;
  text-align: center;
}

#motyw {
  font-weight: bold;
}

h3 {
  font-size: 2.25rem;
}

.main-content {
  display: grid;
  grid-template-columns: 3fr 7fr;
  gap: 2rem;
  justify-items: center;
}

@media (max-width: 1250px) {
  .main-content {
    grid-template-columns: auto;
  }
}

.main-content > * {
  padding: 2rem 3rem;
  border-radius: 1rem;
  text-align: center;
}

.leaderboard {
  text-align: center;
}

.leaderboard > table {
  margin-inline: auto;
  font-size: 1.75rem;
}

.galeria img {
  border-radius: 1rem;
}

.galeria {
  text-align: center;
}

.leaderboard > h3,
.galeria > h3 {
  text-align: center;
  padding: 1rem;
}


footer {
  text-align: center;
  padding-block: 1.25rem;
}

/* THEMES */

body.light-mode > header > .top,
body.light-mode > footer {
  background-color: #dcdcdc;
}

body.light-mode > header > nav {
  background-color: #eee;
}

body.light-mode > header > nav > a:hover {
  background-color: #ccc;
}

body.light-mode > main > .main-content > *,
body.light-mode > main > .aktualny-motyw {
  background-color: #eee;
  border: 1px solid #ccc;
}